@import "./normalize";
@import "./fonts";
@import "./global";

$C2: #6a983c;

.header {
    margin-top: 16px;
    margin-bottom: 16px;
}

.header__container {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-hero {
    display: flex;
    align-items: center;
    gap: 33px;
    a {
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: 400;
        line-height: 16.34px;
        text-align: left;
    }
    .active {
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: 400;
        line-height: 16.34px;
        text-align: left;
        color: $C2;
    }
}

.header-nav {
    display: flex;
    gap: 38px;
    a {
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: 400;
        line-height: 16.34px;
        text-align: left;
        color: $C2;
        padding-bottom: 16px;
    }
}
